<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
    debug="false">
    <appender name="birzhalog" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="file" value="${catalina.home}/logs/birzhalog.log"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%t] %d{HH:mm:ss,SSS} %-5p %l - %m%n" />
        </layout>
    </appender>
     
    <logger name="com" additivity="false">
        <level value="DEBUG" />
        <appender-ref ref="birzhalog"/>
    </logger>
    <logger name="database" additivity="false">
        <level value="DEBUG" />
        <appender-ref ref="birzhalog"/>
    </logger>
    <root>
        <level value="debug" />
        <appender-ref ref="birzhalog" />
    </root>
     
</log4j:configuration>